@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');




#transition-screen {
    font-family: 'Inter', sans-serif;
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

#transition-screen img {
    max-width: 100%; 
}

body.green-background {
    background-color: #004A2F; 
    margin: 0; 
    padding: 0;
    overflow: hidden; 
}


/* Estilos gerais/main */

    /* HEADER */
    /* NAV BAR */

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #004A2F;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}


.button-logo {
    font-family: 'Inter', sans-serif;
    color: #fff;
    display: flex;
    align-items: left;
    margin-left: 10px;
    text-decoration: none;
    font-size: 1.75rem;
}


.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}


.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 0; 
    right: 0; 
    background-color: rgba(0, 74, 47, 0.75);
    width: 100%; 
    z-index: 2; 
    margin-top: 90px;
    
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.2rem;
    }
    .nav-item {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
        position: absolute;
        top: 0; 
        right: 0; 
        margin: 10px;
        z-index: 3; 
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex; 
        align-items: center; 
        justify-content: right; 
        margin: 20px;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 2rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 2rem;
    }
    .open {
        display: block;
    }

}




    /* CORPO HTML_DENUNCIA*/ 

body {
    font-family: 'Inter', sans-serif;
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    position: relative;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
#info-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    justify-content: center;
    margin: 10px auto; 
    max-width: 80%; 
    height: 20vh;
    margin-top: 2rem;
}

.info {
    margin: 10px;
    display: flex;
    font-size: 26px;
    flex-direction: column; 
    align-items: center; 
    padding: 10px;
    text-align: center; 
    height: 30vh;
    margin-left: 50px;
    margin-right: 50px;
}
#map {
    width: 100%;
    height: 70vh; 
    margin-top: 20px; 
    margin-bottom: 2rem;
}
#btn-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; 
}
#btn-container button {
    padding: 10px 20px;
}
.icon {
    align-items: center; 
}
button {
    border: none;
    border-radius: 99px;
    color: white;
    background: #004A2F;
    cursor: pointer;
    transition: 0.3s;
    width: 150px;
    height: 40px;

}

button.special-button {
    border: none;
    border-radius: 50%; 
    color: white;
    background: #004A2F;
    cursor: pointer;
    transition: 0.3s;
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

button.special-button:disabled {
    background: orangered;
}

.button-container {
    display: inline-block;
    margin: 0 5px; 
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.button-row {
    display: flex; 
    justify-content: center; 
}

.btn-main {
    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/* Estilos Camera */

textarea {
    border-radius: 1rem;
    padding: 1.1rem;
    justify-content: center;
    height: 15vh;
    width: 83.5%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.media-container {
    width: 100%;
    height: 50vh; 
    position: relative; 
}

#capturedImage {
<<<<<<< HEAD
    max-width: 100%;
    height: auto; 
    height: auto; 
=======
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção e preenche o contêiner */
    max-height: 45vh; /* Limita a altura a 100% da altura da tela, se necessário */
>>>>>>> 6f301d96f727944894f90db04f37b813e8855fc2
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção e preenche o contêiner */
    max-height: 45vh; /* Limita a altura a 100% da altura da tela, se necessário */
}




/* GALERIA DE DENUNCIAS  */
body.scroll-enabled {
    overflow: auto; 
}
.galeria {
    display: flex;
    flex-direction: column; 
    align-items: left; 
    border-bottom: 1px solid #ccc;
}

.imagem-com-texto {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}

.imagem-com-texto img {
    width: 200px; 
    height: 200px; 
    margin-right: 10px; 
}

.imagem-com-texto p {
    margin: 0; 
}



/*  SOBRE  */
.developer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    justify-content: center; 
    align-items: center; 
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
}

.developer {
    text-align: center; 
}

/* Estilize as imagens, se necessário */
.developer img {
    margin-top: 2rem;
    height: 150px;
    width: 150px; 
}

.about-h2 {
    font-family: 'Inter', sans-serif;
    text-align: center; 
    font-family: 'Inter', sans-serif; 
    margin-top: 2rem;
    margin-bottom: 1rem;

}
.about-p{
    text-align: justify;
    font-family: 'Inter', sans-serif; 
}
.enterprise-info{
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.p-send{
    text-align: center;
    font-family: 'Inter', sans-serif; 
    color: white;
    font-size: 26px;

}

